.center {
  margin: auto;
  width: 50%;
  padding: 10px;

  .block {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .image {
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 200px;
    max-width: 300px;
  }
}