name: Update-Pages-Site
run-name: Deploy to Pages
on:
  push:
    branches:
      - master

jobs:
  Update-Github-Pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - name: Deploy Site
        run: |
          git config --global user.name 'Brett Wagner'
          git config --global user.email 'got2bwags@gmail.com'
          git checkout gh-pages
          npm install
          npm run deploy